<div class="schedule-container">
  <!-- פילטר מדריכים למעלה -->
 <div class="card instructor-filter" *ngIf="instructors.length">
  <div class="tag-list">
    <button
      class="tag"
      [class.active]="isAllInstructorsSelected"
      (click)="toggleAllInstructors()">
      כולם
    </button>

    <button
      *ngFor="let inst of instructors"
      class="tag"
      [class.active]="selectedInstructorIds.includes(inst.id_number)"
      (click)="toggleInstructor(inst.id_number)">
      {{ inst.first_name }} {{ inst.last_name }}
    </button>
  </div>
</div>

  <!-- הלוח עצמו -->
  <div class="schedule-wrap" [class.fullscreen]="isFullscreen">
    <app-schedule
  #scheduleCmp
  [items]="items"
  [resources]="instructorResources"
  [initialView]="'timeGridDay'"
  [rtl]="true"
  [slotMinTime]="'07:00:00'"
  [slotMaxTime]="'21:00:00'"
  [allDaySlot]="false"
  [enableAutoAssign]="true"
  (eventClick)="onEventClick($event)"
  (dateClick)="onDateClick($event)"
  (viewRange)="onViewRange($event)"
  (autoAssignRequested)="autoAssignForCurrentDay()"
>
</app-schedule>


  </div>

 <app-note
  *ngIf="selectedChild"
  [child]="selectedChild"
  [occurrence]="selectedOccurrence"
  (close)="selectedChild = null">
</app-note>

</div>
